### Example user template
build
cfg
data
external
lib
model
models
inc/shadow/proto/*.h
src/shadow/proto/*.cc
src/shadow/proto/*.h
inc/test
src/test

# IntelliJ project files
.idea
*.iml
out
gen

# Visual Studio files
*.user
*.suo
*.sdf
*.opensdf
*.pdb

### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
